.side-bar{
  background: #222222;
  height: 100%;
  color: white;
  
  ul,li{
    display: block;
    width: 100%;
  }

  a{
    text-decoration:none;
    color: white;
    padding: 15px;
    width: 100%;
    display: inline-block;
    &:hover{
      background: #cecece
    }
  }
}