#root{
  display: block;
  width: 100%;
  height: 100%;

  .container-app{
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
  }

  .container-side-bar{
    flex:1 $width-container-sidebar;
    width: $width-container-sidebar;

  }
  .container-pager{
    flex:1 calc(100% - #{$width-container-sidebar});
    width: calc(100% - #{$width-container-sidebar});    
  }
}