.chat-container{
  display: block;
  height: 100%;
  background: #eeeeee;

  .col-of-friends{
    width: 400px;
    height: 100%;
    background: white;
    border-right:1px solid #333333;
  }

  .col-content-chat{
    position: relative;
    height: 100%;
    width: calc(100% - 400px);

  }

  .chat-header-info{
    
    img{
      display: inline-block;
      vertical-align: middle;
      width: 40px;
      margin: 5px;
    }
    h3{
      display: inline-block;
    }
  }

  .row-header-chat{
    display: block;
    width: 100%;
    height: 50px;
    background: #31708f;
    color: white
  }
  .row-content-chat{
    display: block;
    width: 100%;
    height: calc(100% - 150px);
    padding: 10px;
    overflow: hidden;
    overflow-y: auto;
  }
  .row-input-chat{
    display: block;
    width: 100%;
    height: 60px;
    input{
      display: block;
      width: 100%;
      height: 35px;
      padding: 10px;
    }
  }

  .no-chat{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:#eeeeee;
    z-index: 1;
    h1{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%)
    }
  }

  .messages{
    display: block;
    .item-message{
      position: relative;
      margin: 25px;
      display: table;
      background: #fff;
      padding: 11px 10px 8px 24px;
      box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
      transition: all .3s cubic-bezier(.25,.8,.25,1);
      width: auto;
      word-break: break-word;
      .profile-pic{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        left: -20px;
        top: -15px;
        img{
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}