.chat-user-row{
  border-bottom: 1px solid #eeee;
  cursor: pointer;
  &:hover{
    background: #eeee
  }
  div{
    padding: 2px;
  }

  img{
    display: block;
    width: 100%;
    height: auto;
  }
  .profile-pic{
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}