<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>React</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<div id="root"></div>
	<script src="/js/app.js"></script>
</body>
</html>